*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
#contact-sec{
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 100px;
	background-color: red; 
  background-image: linear-gradient( #EAD7BB,#FFF2D8);
}


#contact-form{
	background-color: #C8A1E0;
	height: 500px;
	width: 100%;
	border: 2px solid #333;
	border-radius: 15px;

}
#contact-sec h1 {
    margin-bottom: 40px;
    font-size: 2.8em;
    color: #333;
    text-align: center;
   
    letter-spacing: 2px;
    
    display: inline-block;
    padding-bottom: 10px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
   	background-color: lavender;
   	justify-content: center;
   	align-items: center;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
}

button {
    padding: 10px;
    border: none;
    background-color: orangered;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.5s ease;
    width: 60%;
}

button:hover {
    background-color: aqua;
    color: red;

}

@media screen and (min-width:320px) and (max-width: 600px) {
    #contact-sec {
        height: 100vh;
        padding: 10px;
        gap: 20px;
    }

    #contact-form {
        width: 80%;
        max-width: 100%;
        padding: 15px;
        border-radius: 10px;
        box-shadow: none; 
    }
    button{
        padding: 6px;
    }
    #contact-sec h1
    {
        font-size: 30px;
    }
      #footer-sec{
        height: 100px;
        gap: 20px;
      }
      

}
footer{
	height: 15vh;
	width: 100%;
	background-color: #3C3D37;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;

} 

#footer-sec h3{
	text-decoration: none;
	color: #fff;
}

#icons{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;

    text-decoration: none;
    font-size: 24px;
} 